---
import { CliCommandCodeInternal } from "./_cli-command-code-internal"
import { SERVER_URL } from "astro:env/client"

type Props = {
  componentName: "loading-swap" | "action-button" | "number-input"
}

const { componentName } = Astro.props
const baseCommand = `shadcn@latest add ${SERVER_URL}/r/${componentName}.json`
const commands = [
  { label: "pnpm", code: `pnpm dlx ${baseCommand}` },
  { label: "npm", code: `npx ${baseCommand}` },
  { label: "yarn", code: `yarn ${baseCommand}` },
  { label: "bun", code: `bunx --bun ${baseCommand}` },
]
---

<div>
  <CliCommandCodeInternal client:load commands={commands} />
</div>
