---
import { CliCommandCodeInternal } from "./_cli-command-code-internal"

type Props = {
  componentName: "loading-swap" | "action-button" | "number-input"
}

const { componentName } = Astro.props
const baseCommand = `shadcn@latest add ${import.meta.env.SERVER_URL}/r/${componentName}.json`
const commands = [
  { label: "pnpm", code: `pnpm dlx ${baseCommand}` },
  { label: "npm", code: `npx ${baseCommand}` },
  { label: "yarn", code: `yarn ${baseCommand}` },
  { label: "bun", code: `bunx --bun ${baseCommand}` },
]
---

<div>
  <!-- TODO: Only client load or just deal with hydration issues -->
  <CliCommandCodeInternal client:only commands={commands} />
</div>
